/* ===============================CHECKBOX=============================== */

input[type="checkbox"] {
    cursor: pointer;
    appearance: none;
    width: 1rem;
    aspect-ratio: 1;
    border-radius: .5rem;
    corner-shape: squircle;
    background-color: var(--mono3);
    border: 1px solid var(--mono4);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all .3s ease-in-out;
    outline: 2px solid transparent;

    &::before {
        content: "";
        position: absolute;
        width: .75rem;
        height: .75rem;
        background: currentColor;

        mask: var(--icon-check) center / contain no-repeat;
        -webkit-mask: var(--icon-check) center / contain no-repeat;

        opacity: 0;
    }

    &:checked {
        background: var(--accent);
        outline: 2px solid color-mix(in srgb, var(--accent), transparent 20%);
        color: var(--text);

        &::before {
            opacity: 1;
        }
    }

    &:disabled {
        background: var(--mono-component1);
    }
}

/* ===============================RADIO=============================== */

input[type="radio"] {
    cursor: pointer;
    appearance: none;
    width: var(--f-base);
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--mono3);
    border: 1px solid var(--mono4);
    transition: all .3s ease-in-out;

    &:checked {
        background: var(--accent);
    }

}

/* ===============================INPUTS CON TEXTO=============================== */

input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="text"],
input[type="url"],
input[type="time"],
input[list] {

    border: 1px solid var(--input-border);
    border-radius: var(--input-br);
    corner-shape: var(--input-shape);
    padding: var(--spacing-2xs);
    color: var(--input-text);
    font: var(--f-text);
    outline: 2px solid transparent;
    transition: all .3s ease-in-out;

    &:focus {
        transition: all .3s ease-in-out;
        outline: 2px solid var(--mono-border2);
    }

}

/* ===============================TEXTAREA=============================== */

textarea {

    border: 1px solid var(--input-border);
    border-radius: var(--input-br);
    corner-shape: var(--input-shape);
    padding: var(--spacing-s);
    color: var(--input-text);
    font: var(--f-text);
    width: 100%;
    min-height: 40vh;
    outline: 2px solid transparent;
    transition: all .3s ease-in-out;

    &:focus {
        transition: all .3s ease-in-out;
        outline: 2px solid var(--mono-border2);
        border: 1px solid var(--input-border);
    }

}

/* ===============================FORMS================================*/

select {
  cursor: pointer;
  appearance: base-select;

  border: 1px solid var(--input-border);
  border-radius: var(--input-br);
  corner-shape: var(--input-shape);

  padding: var(--spacing-2xs) var(--spacing-xs);

  color: var(--input-text);
  font: var(--f-text);

  transition: all .3s ease-in-out;

  &::picker(select) {
    appearance: base-select;

    border: 1px solid var(--input-border);
    border-radius: var(--input-br);
    corner-shape: var(--input-shape);

    color: var(--input-text);
    font: var(--f-text);
  }

  &::picker-icon {
    content: "";

    width: 1em;
    height: 1em;

    background: currentColor;

    mask: var(--icon-chevron-down)
      center / contain no-repeat;

    -webkit-mask: var(--icon-chevron-down)
      center / contain no-repeat;
  }

  option {
    padding: var(--spacing-xs);
    cursor: pointer;

    &:hover {
      background: var(--accent-component2);
    }

    &::checkmark {
      content: "";

      width: 1em;
      height: 1em;

      background: currentColor;

      mask: var(--icon-check)
        center / contain no-repeat;

      -webkit-mask: var(--icon-check)
        center / contain no-repeat;
    }
  }
}
