button[popovertarget="notis-popover"] {
    position: relative;

    .notis-alert {
        height: 8px;
        width: 8px;
        border-radius: 50%;
        background: var(--accent);
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0;
    }

}

body:has(#notif_unread:not(:empty)) .notis-alert {
    opacity: 1;
}
