/* =====================================
SETTING BASE + MENU LATERAL, TABS
======================================*/

.panel-tabs {
    display: grid;
    grid-template-columns: 20vw 1fr;

    @media (max-width: 700px) {
        grid-template-columns: 1fr;
    }

    #tabs ul {
        height: max-content;
        position: sticky;
        top: calc(var(--nav-size) + 1rem);
        display: flex;
        flex-direction: column;

        @media (max-width: 700px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        li {
            display: flex;
            align-items: center;
            font: 1rem var(--f-label);

            &:not(:has(a)) {
                font: 1rem var(--f-label);
                display: flex;
                align-items: center;
                gap: var(--spacing-s);
                width: 100%;
                padding: var(--spacing-s);
                border-radius: .5rem;
                corner-shape: squircle;
            }
                    
            a {
                font: 1rem var(--f-label);
                display: flex;
                align-items: center;
                gap: var(--spacing-s);
                width: 100%;
                padding: var(--spacing-s);
                border-radius: .5rem;
                corner-shape: squircle;

                &:hover {
                    background: var(--mono2);
                }

                .activetab & {
                    font-weight: bold;
                    background: var(--accent);

                    &:hover {
                        background: var(--accent);
                    }
                }
            }
        }
    }
}


/* =====================================
TEMAS SUPERVISADOS
======================================*/

.supervised-topic {
    width: 100%;
    display: grid;
    grid-template-columns: max-content 1fr .5fr .5fr 1fr max-content;
    grid-template-areas:
    "icon title author posts lastpost checkbox"
    "icon forum author visitas lastpost checkbox";
    
    gap: 0 var(--spacing-s);
    padding: var(--spacing-s);
    border-radius: .5rem;
    corner-shape: squircle;

    span {
        &:first-of-type {
            grid-area: icon;
        }
        
        &:nth-of-type(2) {
            grid-area: title;
            font: bold 1rem var(--f-title);
        }
        
        &:nth-of-type(3) {
            grid-area: forum;
        }
        
        &:nth-of-type(4) {
            grid-area: posts;
            display: flex;
            align-items: center;
            gap: var(--spacing-xs);
            font: var(--f-s) var(--f-text);
            text-transform: uppercase;
            
            &:after {
                content: "VISITAS";
            }
        }
        
        &:nth-of-type(5) {
            grid-area: author;
        }
        
        &:nth-of-type(6) {
            grid-area: visitas;
            display: flex;
            align-items: center;
            gap: var(--spacing-xs);
            font: var(--f-s) var(--f-text);
            text-transform: uppercase;
            
            &:after {
                content: "VISITAS";
            }
        }
        
        &:nth-of-type(7) {
            grid-area: lastpost;
        }
        
        &:nth-of-type(8) {
            grid-area: checkbox;
        }
    }

}

/* =====================================
BORRADORES - TEMAS
======================================*/

.draft:has(a[href$="mode=edittopicdraft"]) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr .5fr max-content;
    align-items: center;

    a[href$="mode=edittopicdraft"]:not(.topictitle) {
        background: var(--accent);
        color: contrast-color(var(--accent));
        font: var(--f-s) var(--f-buttons);
        text-transform: uppercase;
        padding: var(--spacing-s) var(--spacing);
        border-radius: .5rem;
        corner-shape: squircle;
    }
}

/* =====================================
BORRADORES - MENSAJES
======================================*/

.draft:has(a[href$="mode=editpostdraft"]) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr .5fr max-content;

    article:first-of-type {
        grid-column: 1 / -1;
        grid-row: 2;
    }
        
}

/* =====================================
PRIVATE MESSAGES 
======================================*/

.privmsgs-body .pmlist .pm {
    display: grid;
    grid-template-columns: max-content 1fr .5fr .5fr max-content;
    gap: 0 var(--spacing-s);
}
