#textarea_content {
  width: 100% !important;
}

.sceditor-container {
  position: relative;
}

.sceditor-container > textarea {
  outline: 0 !important;
  corner-shape: square square squircle squircle;
}

.sceditor-toolbar {
  background: var(--accent);
  padding: var(--spacing-s);
  display: flex;
  justify-content: space-around;
}

.sceditor-button {
  position: relative;
}

.sceditor-dropdown {
  margin-top: var(--spacing-xs) !important;
  border-radius: var(--br);
  background: var(--mono1);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  padding: var(--spacing-s);
  border-radius: .5rem;
  corner-shape: squircle;
  border: 1px solid var(--mono4);

  & > div {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
    text-align: left;
  }
}
