.breadcrumbs {
    font-size: 0;
    display: flex;
    align-items: center;
    gap: var(--spacing-s);

    &:empty {
        display: none;
    }
    
    @media (max-width: 700px) {
        display: none;
    }

    svg {
        height: var(--f-s) !important;
        width: var(--f-s) !important;
    }

    & > a.nav {
        font-size: var(--f-s)!important;
        text-transform: uppercase;
    }
}

button[popovertarget="notis-popover"] {
    position: relative;

    .notis-alert {
        height: 8px;
        width: 8px;
        border-radius: 50%;
        background: var(--accent);
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0;
    }

}

/* =========================================
NOTIFICACIONES
========================================== */

body:has(#notif_unread:not(:empty)) .notis-alert {
    opacity: 1;
}

#notis {
    padding: var(--spacing);

    #notif_list {
        left: 0;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-s);
        
        hr {
        display: none;
        }

        li {
            padding: var(--spacing-s);
            
            &[data-notif-type="0"] {
                --notif-type: mp;
            }
            
            &[data-notif-type="7"] {
                --notif-type: post;
            }

            &[data-notif-type="8"] {
                --notif-type: mention;
            }
            
            .content { 
                position: relative;
                display: grid;
                grid-template-columns: 60px 1fr;
                grid-template-rows: max-content 1fr;
                gap: 0 var(--spacing-s);
                grid-template-areas: "icon time" "icon content";
                
                &:before {
                    grid-area: icon;
                    content: "icon";

                    @container style(--notif-type: mp) {
                        content: "MP";
                    }
                }
                    
                .contentText { 
                    grid-area: content;
                    
                    a {
                        
                    }
                }
                
                .contentTime {
                    grid-area: time;
                }
                
                .delete {
                    position: absolute;
                    top: 0;
                    right: 0;
                    height: var(--f-s);
                    width: var(--f-s);
                    background: var(--accent);
                    color: contrast-color(var(--accent));
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &:before {
                        content: "x";
                    }
                }
            }
        }
    }
}
