.topic {
  padding: var(--spacing-s);
  display: grid;
  grid-template-columns: 60px 1fr .5fr .5fr;
    align-items: center;
    gap: 0 var(--spacing-s);

    &:has(.pagination:empty):has(.description) {
        grid-template-rows: repeat(3, max-content);
        grid-template-areas: "icon title data lastpost" "icon description data lastpost" "icon author data lastpost";
    }

    &:has(.pagination:empty):not(:has(.description)) {
        grid-template-rows: repeat(2, max-content);
        grid-template-areas: "icon title data lastpost" "icon author data lastpost";
      .title {
        align-self: end;
      }
      .author {
        align-self: start;
      }
    }

    &:not(:has(.pagination:empty)):not(:has(.description)) {
        grid-template-rows: repeat(3, max-content);
        grid-template-areas: "icon title data lastpost" "icon author data lastpost" "icon pagination data lastpost";
    }

    &:has(.description):not(:has(.pagination:empty)) {
        grid-template-rows: repeat(4, max-content);
        grid-template-areas: "icon title data lastpost" "icon author data lastpost" "icon description data lastpost" "icon pagination data lastpost";
    }

    .icon {
        grid-area: icon;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        aspect-ratio: 1;

        img {
            display: none;
        }

        &:before {
            content: "";
            position: absolute;
            width: 1rem;
            height: 1rem;
            -webkit-mask-position-x: center;
            -webkit-mask-position-y: center;
            mask-size: contain;
            mask-repeat: no-repeat;
        }
    }

    .topic-type {
        grid-area: type;
        display: none;
    }

    .title {
        grid-area: title;
    }

    .pagination {
        grid-area: pagination;

        &:empty {
            display: none;
        }
    }

    .author {
        grid-area: author;
    }

    .data {
        grid-area: data;
        place-content: center;
    }

    .lastpost {
        grid-area: lastpost;
    }

    .description {
        grid-area: description;
    }
}

/* ====== VIEWTOPIC BODY ========= */

.viewtopic_body {

    .post {
        display: grid;

        .profile {
            grid-area: aside;

            .contact {
                grid-area: contact;
                gap: var(--spacing-s);

                li {
                    display: flex;

                  &:empty {
                    display: none;
                  }
                }
            }

            .avatar-post {
                grid-area: avatar;
            }

            .profile-data {
                grid-area: avatar;
                width: var(--avatar-post-width);
                height: var(--avatar-post-height);

              @media (max-width: 700px) {
                display: none;
              }
            }


        }

        .postbody {
            grid-area: body;
            display: flex;
            flex-direction: column;

          .profile-icons li:empty {
            display: none;
          }
        }

        .content.message {
            height: 100%;
            display: block;
        }

        .signature {

            br:first-of-type,
            br:nth-of-type(2) {
                display: none;
            }
        }
    }

    .quickreply {

        &>.h3,
        &>br {
            display: none;
        }
    }

}
