/* =========================================
BREADCRUMBS
========================================== */

.breadcrumbs {
    font-size: 0;
    display: flex;
    align-items: center;
    gap: var(--spacing-s);

    &:empty {
        display: none;
    }
    
    @media (max-width: 700px) {
        display: none;
    }

    svg {
        height: var(--f-s) !important;
        width: var(--f-s) !important;
    }

    & > a.nav {
        font-size: var(--f-s)!important;
        text-transform: uppercase;
    }
}

/* =========================================
LINK PERFIL
==========================================*/

.link-perfil .username {
    font-family: var(--f-post-username);
}

/* =========================================
LINK MPS
========================================== */

nav a[href$="/privmsg?folder=inbox"] {
    position: relative;

    &:before {
        content: "";
        height: 8px;
        width: 8px;
        border-radius: 50%;
        background: var(--accent);
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0;
    }   
}

body:has(.original-navbar .new-message) nav a[href$="/privmsg?folder=inbox"]:before {
    opacity: 1;
}

/* =========================================
NOTIFICACIONES
========================================== */

button[popovertarget="notis-popover"] {
    position: relative;

    .notis-alert {
        height: 8px;
        width: 8px;
        border-radius: 50%;
        background: var(--accent);
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0;
    }

}

body:has(#notif_unread:not(:empty)) .notis-alert {
    opacity: 1;
}

#notis {
    padding: var(--spacing);

    #notif_list {
        left: 0;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-s);
        
        hr {
        display: none;
        }

        li {
            padding: var(--spacing-s);

            &.see_all {
                display: flex;
                justify-content: center;
                align-items: center;
                background: var(--accent);
                color: contrast-color(var(--accent));
                text-transform: uppercase;
                font: var(--f-s) var(--f-button);
                text-align: center;
            }

            &.unread {
                --status: unread;
            }
            
            &[data-notif-type="0"] {
                --notif-type: mp;
                --notif-icon: var(--icon-mp);
            }

            &[data-notif-type="1"] {
                --notif-type: report;
                --notif-icon: var(--icon-report);
            }

            &[data-notif-type="2"] {
                --notif-type: friendrequest;
                --notif-icon: var(--icon-friendrequest);
            }

            &[data-notif-type="3"] {
                --notif-type: grouprequest;
                --notif-icon: var(--icon-grouprequest);
            }

            &[data-notif-type="4"] {
                --notif-type: friendcon;
                --notif-icon: var(--icon-friendcon);
            }

            &[data-notif-type="5"] {
                --notif-type: wallmsg;
                --notif-icon: var(--icon-wallmsg);
            }

            &[data-notif-type="6"] {
                --notif-type: abuse;
                --notif-icon: var(--icon-abuse);
            }
            
            &[data-notif-type="7"] {
                --notif-type: topicwatch;
                --notif-icon: var(--icon-topicwatch);
            }

            &[data-notif-type="8"] {
                --notif-type: mention;
                --notif-icon: var(--icon-mention);
            }

            &[data-notif-type="9"] {
                --notif-type: hashtag;
                --notif-icon: var(--icon-hashtag);
            }

            &[data-notif-type="10"] {
                --notif-type: advert;
                --notif-icon: var(--icon-advert);
            }

            &[data-notif-type="11"] {
                --notif-type: like;
                --notif-icon: var(--icon-like);
            }

            &[data-notif-type="12"] {
                --notif-type: dislike;
                --notif-icon: var(--icon-dislike);
            }

            &[data-notif-type="13"] {
                --notif-type: forumwatch;
                --notif-icon: var(--icon-forumwatch);
            }

            &[data-notif-type="14"] {
                --notif-type: award;
                --notif-icon: var(--icon-award);
            }

            &[data-notif-type="15"] {
                --notif-type: followernewtopic;
                --notif-icon: var(--icon-followernewtopic);
            }

            &[data-notif-type="16"] {
                --notif-type: followernewpost;
                --notif-icon: var(--icon-followernewpost);
            }

            &[data-notif-type="17"] {
                --notif-type: donation;
                --notif-icon: var(--icon-donation);
            }
            
            .content { 
                position: relative;
                display: grid;
                grid-template-columns: 50px 1fr max-content;
                grid-template-rows: max-content 1fr;
                gap: 0 var(--spacing-s);
                grid-template-areas: "icon time close" "icon content close";
                
                &:before {
                    grid-area: icon;
                    content: "";
                    height: 100%;
                    width: 100%;
                    background: var(--text-subtle);
                    mask-image: var(--notif-icon);
                    mask-position: center;
                    mask-repeat: no-repeat;
                    mask-size: 50%;

                    @container style(--status: unread) {
                        background: var(--accent);
                    }
                }
                    
                .contentText { 
                    grid-area: content;
                    
                    a {
                        font-weight: bold;
                    }
                }
                
                .contentTime {
                    grid-area: time;
                    font-size: var(--f-s);
                    text-transform: uppercase;
                }
                
                .delete {
                    grid-area: close;
                    height: 1.5rem;
                    width: 1.5rem;
                    background: var(--accent);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: .25rem;
                    corner-shape: squircle;

                    &:before {
                        grid-area: close;
                        content: "";
                        mask-image: var(--icon-x);
                        mask-position: center;
                        mask-repeat: no-repeat;
                        mask-size: contain;
                        height: .75rem;
                        width: .75rem;
                        background: contrast-color(var(--accent));
                    }
                }
            }
        }
    }
}
