:root {
    
  /****FONT SIZES****/
  --f-xs: clamp(0.5628rem, 0.6716rem + -0.1404vw, 0.64rem);
  --f-s: clamp(0.7502rem, 0.8204rem + -0.0906vw, 0.8rem);
  --f-base: clamp(1rem, 1rem + 0vw, 1rem);
  --f-l: clamp(1.25rem, 1.216rem + 0.1509vw, 1.333rem);
  --f-xl: clamp(1.5625rem, 1.4748rem + 0.3898vw, 1.7769rem);
  --f-2xl: clamp(1.9531rem, 1.7832rem + 0.7554vw, 2.3686rem);
  --f-3xl: clamp(2.4414rem, 2.1485rem + 1.3017vw, 3.1573rem);
  --f-4xl: clamp(3.0518rem, 2.5785rem + 2.1036vw, 4.2087rem);
  --f-5xl: clamp(3.8147rem, 3.0802rem + 3.2646vw, 5.6102rem);
  
  /****SPACINGS****/
  --spacing-xs: .25rem;
  --spacing-s: .5rem;
  --spacing: 1rem;
  --spacing-l: clamp(1.13rem, calc(1.050rem + 0.171vw), 1.50rem);
  --spacing-xl: clamp(1.25rem, calc(1.100rem + 0.343vw), 2.00rem);
  --spacing-2xl: clamp(1.45rem, calc(1.140rem + 0.709vw), 3.00rem);
  --spacing-3xl: clamp(1.70rem, calc(1.240rem + 1.051vw), 4.00rem);
  --spacing-4xl: clamp(2.00rem, calc(0.800rem + 2.743vw), 8.00rem);
  --spacing-5xl: clamp(3.00rem, calc(1.600rem + 3.200vw), 10.00rem);
  --spacing-button: var(--spacing-s) var(--spacing);
}

/* ====== UTILS ====== */

.stack {
    display: flex;
    gap: var(--spacing);

    &.row {
        align-items: center;
    }

    &.column {
        flex-direction: column;
    }

}

.grid-2 {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
}

.grid-2-leftmax {
    display: grid !important;
    grid-template-columns: max-content 1fr;
}

.grid-2-rightmax {
    display: grid !important;
    grid-template-columns: 1fr max-content;
}

.grid-3 {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr);

    &.list-item:has(.button) {
        grid-template-columns: 1fr 1fr max-content;
    }
}

.grid-4 {
    display: grid !important;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
}

.grid-2,
.grid-3,
.grid-4,
.grid-2-leftmax {
    gap: var(--spacing);
    align-items: center;

    &>.wide {
        grid-column: 1 / -1;
    }

    & input,
    & select {
        width: stretch;
    }

    @media (max-width: 700px) {
        grid-template-columns: 1fr;
    }
}

.has-spacing {
    padding: var(--spacing);
}

.list-item {
    padding: var(--spacing-s);
    gap: var(--spacing-s);
    align-items: center;
}

.form-list,
.form-control {
    display: flex;
    align-items: center;
    gap: var(--spacing-xs);

    &.column {
        flex-direction: column;
        align-items: flex-start;
        gap: var(--spacing-xs);
    }

    input[type="text"],
    input[type="url"] {
        width: 100% !important;
    }

    .password-container {
        width: 100%;
        display: flex;
        align-items: center;
        gap: var(--spacing);

        input {
            width: 100%;
        }
    }
}

label:has(input[type="radio"], input[type="checkbox"]) {
    display: flex;
    align-items: center;
    gap: var(--spacing-xs);
}

.group-buttons {
    display: flex;
    gap: var(--spacing-s);
    margin-top: var(--spacing-s);

    .button {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}
