/* ===============================
BUTTONS
=================================*/

button,
.button,
input[type="button"],
a[href$="?watch=forum"],
input[type="file"],
input[type="submit"],
input[type="reset"],
.watchtopic a {
    border: 0;
    padding: var(--spacing-s) var(--spacing);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content:center;
    text-align: center;

    &:has(svg + span) {
        display: flex;
        align-items: center;
        gap: var(--spacing-s);
        
        svg {
            height: var(--f-base);
            width: var(--f-base);
        }
    }

    nav & {
        background: transparent;
        padding: 0;
        font: inherit;
        color: contrast-color(var(--navbar)) !important;
    }

    &.button-action-post {
        display: flex;
        align-items: center;
        gap: var(--spacing-s);
        padding: var(--spacing-xs) var(--spacing-s);

        svg {
            width: 1rem;
            height: 1rem;
        }
    }

    &.copy-button {
        display: flex;
        align-items: center;
        gap: var(--spacing-s);

        svg {
            width: 1rem;
            height: 1rem;
        }
    }

    &.button-icon {
        padding: var(--spacing-xs);
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            width: 1rem;
            height: 1rem;
        }
    }


    &.close-button {
        padding: var(--spacing-s);
        aspect-ratio: 1;

        svg {
            width: 1rem;
            height: 1rem;
        }
    }

    #dice_to_del & {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: var(--spacing-s);
        grid-column: 1 / -1;
    }

}

/* ===============================
CHECKBOX
=================================*/

input[type="checkbox"] {
    cursor: pointer;
    appearance: none;
    width: 1rem;
    aspect-ratio: 1;
    border-radius: .5rem;
    corner-shape: squircle;
    background-color: var(--input);
    border: 1px solid var(--input-border);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all .3s ease-in-out;
    outline: 2px solid transparent;

    &::before {
        content: "";
        position: absolute;
        width: .75rem;
        height: .75rem;
        background: var(--text);

        mask: var(--icon-check) center / contain no-repeat;
        -webkit-mask: var(--icon-check) center / contain no-repeat;

        opacity: 0;
    }

    &:checked {
        background: var(--accent);
        outline: 2px solid var(--input-border-strong);
        color: var(--text);

        &::before {
            opacity: 1;
        }
    }

    &:disabled {
        background: var(--mono-component1);
    }
}

/* ===============================
RADIO
================================*/

input[type="radio"] {
    cursor: pointer;
    appearance: none;
    width: 1rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--input);
    border: 1px solid var(--input-border);
    transition: all .3s ease-in-out;

    &:checked {
        background: var(--accent);
    }

}

/* ===============================
TEXT INPUTS
================================*/

input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="text"],
input[type="url"],
input[type="time"],
input[list] {
    background: var(--input);
    border: 1px solid var(--input-border);
    border-radius: .5rem;
    corner-shape: squircle;
    padding: var(--spacing-xs);
    color: inherit;
    font: 1rem var(--f-text);
    outline: 2px solid transparent;
    transition: all .3s ease-in-out;

    &:hover {
        transition: all .3s ease-in-out;
        border: 1px solid var(--border-strong);
        background: var(--input-hover);
    }

    &:focus {
        transition: all .3s ease-in-out;
        outline: 2px solid var(--accent);
    }

}

/* ===============================
TEXTAREA
================================*/

textarea {

    border: 1px solid var(--input-border);
    border-radius: .5rem;
    corner-shape: squircle;
    padding: var(--spacing);
    color: inherit;
    font: 1rem var(--f-text);
    width: 100%;
    min-height: 40vh;
    outline: 2px solid transparent;
    transition: all .3s ease-in-out;

    &:focus {
        transition: all .3s ease-in-out;
        outline: 2px solid var(--input-border-strong);
        border: 1px solid var(--accent);
    }

}

/* ===============================
SELECT
================================*/

select {
    cursor: pointer;
    appearance: base-select;

    border: 1px solid var(--input-border);
    border-radius: .5rem;
    corner-shape: squircle;

    padding: var(--spacing-xs) var(--spacing-s);

    color: inherit;
    font: 1rem var(--f-text);

    transition: all .3s ease-in-out;

    &::picker(select) {
        appearance: base-select;

        border: 1px solid var(--car-border);
        border-radius: .5rem;
        corner-shape: squircle;

        color: inherit;
        font: 1rem var(--f-text);
    }

    &::picker-icon {
        content: "";
        width: 1rem;
        height: 1rem;

        background: currentColor;
        mask: var(--icon-chevron-down) center / contain no-repeat;
        -webkit-mask: var(--icon-chevron-down) center / contain no-repeat;
    }

    option {
        padding: var(--spacing-xs);
        cursor: pointer;

        &:hover {
            background: var(--accent);
        }

        &::checkmark {
            content: "";
            width: 1rem;
            height: 1rem;
            background: currentColor;
            mask: var(--icon-check) center / contain no-repeat;
            -webkit-mask: var(--icon-check) center / contain no-repeat;
        }
    }
}

/* ===============================
DETAILS
================================*/

details summary {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: var(--spacing-s);

    &::marker {
        content: "";
    }

    &::before {
        transition: all .3s ease-in-out;
        content: "";
        height: 1rem;
        aspect-ratio: 1;
        background: var(--text1);
        mask: var(--icon-chevron-right) center / contain no-repeat;
        -webkit-mask: var(--icon-chevron-right) center / contain no-repeat;
    }
}

details[open] summary::before {
    transition: all .3s ease-in-out;
    transform: rotate(90deg);
}

details::details-content {
    height: 0;
    overflow-y: clip;
    transition: 300ms allow-discrete;
}

details[open]::details-content {
    /* Interpolation only */
    height: calc-size(auto, size);
}

/* ===============================
ALERTS
================================*/

.alert {
    display: flex;
    align-items: center;
    gap: var(--spacing);
    padding: var(--spacing);
    border: 1px solid var(--border);
    background: var(--background);
    border-radius: .5rem;
    corner-shape: squircle;

    &.info {
        --border: light-dark(#C1D0FF, #304384);
        --background: light-dark(#EDF2FE, #182449);
        color: contrast-color(var(--background));
    }
    
    &.warning {
        --border: light-dark(#FFC182, #66350C);
        --background: light-dark(#FFEFD6, #331E0B);
        color: contrast-color(var(--background));
    }

    &.danger, &.error {
        --border: light-dark(#FDBDBE, #72232D);
        --background: light-dark(#FEEBEC, #3B1219);
        color: contrast-color(var(--background));
    }
}

/* ===============================
PAGINATION
================================*/

.pagination {
    a[href="javascript:Pagination();"] {
        display: none;
    }
}
