*, *::before, *::after {
  box-sizing: border-box;
  text-box: trim-both cap alphabetic;
}

#fa_toolbar, 
div[style="overflow:visible"], 
div[style="height:3px"], 
.group-icon:empty, 
a[href="#top"], 
li:has(a[href="/search?search_id=favouritesearch"]) {
  display: none!important;
}

html {
	padding: 0;
	margin: 0;

	@media (prefers-reduced-motion: no-preference) {
		interpolate-size: allow-keywords;
		scroll-behavior: smooth;
	}
}

body {
	width: 100%;
	min-height: 100vh;
	margin: 0;
	margin-top: 0!important;
	-webkit-font-smoothing: antialiased;
	text-box: trim-both cap alphabetic;

	@media (max-width: 700px) {
		--screen: mobile;
	}

	@media (min-width: 1800px) {
		--screen: wide;
	}
}

:target {
  scroll-margin: 20vb;
}

section, article, blockquote, figure, ul, ol, li, menu, fieldset, hgroup {
  margin: 0; padding: 0;
}

fieldset {
  border: 0;
}

ul, ol, menu, li{
  list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

img, picture, video, canvas {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p {
	text-wrap: pretty;
	margin: 0;
	padding: 0;
	overflow-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
	text-wrap: balance;
	margin: 0;
	padding: 0;
	overflow-wrap: break-word;
	text-box: trim-both cap alphabetic;
}

