#textarea_content {
  width: 100% !important;
}

.sceditor-toolbar {
  background: var(--accent);
  padding: var(--spacing-s);
  display: flex;
  justify-content: space-around;
}

.sceditor-button[data-sceditor-command="mention"] {
  anchor-name: --mention-button;
}

.sceditor-dropdown.sceditor-mention {
  position-anchor: --mention-button;
}

.sceditor-dropdown {
  position: absolute;
  inset: unset !important;
  position-area: center right;
  transition: all .2s ease-in-out;
}
