.drawer[popover] {
  height: var(--popover-height);
  width: var(--popover-width);
  color: inherit;
  background: var(--surface);
  position: fixed;
  opacity: 0;
  transform: var(--popover-transform);
  transition: all .5s allow-discrete;
  background: var(--sidebar);
}

.drawer[popover]:popover-open {
  opacity: 1;
  transform: var(--popover-transform-open);
}

@starting-style {
  .drawer[popover]:popover-open {
    opacity: 0;
    transform: var(--popover-transform);
  }
}

.close-button {
  #forumnavmenu & {
    justify-self: end;
  }
}
