
 .forum-wrap {
  display: grid;
  grid-template-columns: repeat(var(--columns),1fr);
  grid-auto-rows: max-content;
  gap: var(--spacing);
    
    @media (max-width: 700px) {
      grid-template-columns: 1fr;
    }
  }


.forum {
    --forum-rows: 7;
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span var(--forum-rows);
    grid-template-areas: "icon" "title" "data" "img" "desc" "links" "lastpost";

   &:has(.icon img[src$="forum_read_locked.gif"]) {
    --forum-status: locked;
   }
 
   &:has(.icon img[src$="forum_read.gif"]) {
    --forum-status: read;
   }

    &:has(.icon img[src$="forum_unread.gif"]) {
    --forum-status: unread;
   }

    .icon {
        grid-area: icon;
     @container style(--icon: no) {
      display: none;
     }
    }

    .title {
        grid-area: title;
    }

    .data {
        grid-area: data;     
     
     @container style(--data: no) {
      display: none;
     }
    }

    .forum-img {
     grid-area: img;
     @container style(--img: no) {
      display: none;
     }
    }

    .description {
        grid-area: desc;
    }

    .links {
        grid-area: links;
    }

    .lastpost {
        grid-area: lastpost;

     @container style(--lastpost: no) {
      display: none;
     }
    }


    @container style(--forum-wide: first) {
        &:first-child {
            grid-column: 1 / -1;
        }
    }

    @container style(--forum-wide:last) {
        &:last-child {
            grid-column: 1 / -1;
        }
    }
}
