/* ====================================
MPS - BUSCAR USUARIO 
==================================== */

#find_user {
    anchor-name: --findusername-anchor;
}

#find_username {

    &[style~="z-index: 999"] {
        opacity: 1!important;
    }
    
    position: fixed;
    position-anchor: --findusername-anchor;
    position-area: bottom;
    position-try-fallbacks: bottom, right, left;
    z-index: 999;
    box-shadow: 0 4px 12px rgb(0 0 0 / .12), 0 1px 2px rgb(0 0 0 / .08);
    background: var(--surface-elevated);
    padding: var(--spacing);

    .inner {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-s);
    }

    br, .corners-top, .corners-bottom {
        display: none;
    }

    input {
        width: 100%;
    }
}
